* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --soft-cyan: hsl(174, 77%, 80%);
    --strong-cyan: hsl(174, 86%, 45%);
    --light-grayish-red: hsl(14, 92%, 95%);
    --light-red: hsl(15, 100%, 70%);
    --pale-blue: hsl(226, 100%, 87%);
    --white: hsl(0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --light-grayish-blue: hsl(224, 65%, 95%);
    --light-grayish-blue: hsl(223, 50%, 87%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-desaturated-blue: hsl(227, 35%, 25%);
    --main-font: Manrope;
}
@font-face {
    font-family: Manrope;
    src: url(./assets/fonts/Manrope-VariableFont_wght.ttf);
}
body {
    font-family: var(--main-font);
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}
.container {
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}
.heading {
    margin-bottom: 5rem;
    text-align: center;
}
.range-container {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 45vh;
    min-width: 45vw;
    padding: 5%;
}
.numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.range {
    width: 100%;
}

/* Switch */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 1rem auto 1rem auto;
}

.switch-container p {
    color:hsl(234, 14%, 74%);
    font-weight: bold;
}
.switchBtn {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3rem;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.round {
    border-radius: 20px;
}
.range-container hr {
    width: 100%;
}
.list-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.list-button-container li img {
    margin-right: 1rem;
}
.button {
    background-color: var(--dark-desaturated-blue);
    border: none;
    border-radius: 100px;
    color: var(--very-pale-blue);
    display: block;
    padding: 2% 7%;
    max-height: 40px;
    outline: none;
}

@media (max-width: 768px){
    .range-container {
        min-width: 60vw;
    }
}
@media (max-width: 425px){
    .main-container {
        width: 80%;
    }
    .range-container {
        width: 100%;
    }
    .list-button-container {
        flex-direction: column;
    }
    .list-button-container ul {
        margin: 1rem auto;
    }
    .button {
        min-height: 35px;
        min-width: 10rem;
    }
}